# Application
APP_ENV=development

# Django
DJANGO_SECRET_KEY=
DJANGO_DEBUG=True

# MySQL
DB_NAME=patient_registration
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

# Service URLs
DJANGO_API_URL=http://127.0.0.1:8000
AI_SERVICE_URL=http://127.0.0.1:8001

# Frontend
VITE_API_URL=http://127.0.0.1:8000/api