# =========================
# Environment
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# =========================
# Django
# =========================
*.sqlite3
db.sqlite3
media/
staticfiles/

# =========================
# Node
# =========================
node_modules/
dist/
.vite/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Secrets / Local files
# =========================
*.pem
*.key

.env
.env.*
!.env.example